= form_with(mode: @list, url: page_list_path(@page, @list), method: :put) do
  = form.text_field 'list', 'name', class: 'autofocus moderate'
  = submit_button_with_loader t('rename_list')
  %a.cancel{href: '#'}= t('cancel')
