#add_SeparatorForm
  .inner
    - if @separator.nil? or @separator.new_record?
      - fpath = page_separators_path(@page)
      - fmethod = :post
      - fid = 'add_SeparatorFormContent'
    - else
      - fpath = page_separator_path(@page, @separator)
      - fmethod = :put
      - fid = 'update_SeparatorFormContent'
    
    - form_tag( fpath, :method => fmethod, :id => fid) do
      %div
        != text_field 'separator', 'title', :id => 'separatorFormTitle', :class => 'long'
      
      - if @separator.nil? or @separator.new_record?
        %input#add_SeparatorFormBefore{:type => 'hidden', :name=> 'position[before]', :value => '0'}/
        %input#add_SeparatorFormSlot{:type => 'hidden', :name=> 'position[slot]', :value => '0'}/
        %button{:class => 'submit', :type => 'submit'}= :add_separator.l
      - else
        %button{:class => 'submit', :type => 'submit'}= :edit_separator.l
      
      %a{:href => '#', :class => 'cancel_WidgetForm'}= :cancel.l
