<%
    @page_title = :reminders.l
    
    @tabbed_navigation_items = common_tabs(:reminders)
    @user_navigation_items = user_tabs(nil)
%>

<div id="newReminderForm">
<%= form_tag( reminders_path(), :method => (:post), :id => "add_ReminderForm") %>
  <div>
    <label for="newReminderAt"></label>
    <%= text_field 'reminder', 'friendly_at_time', :id => 'newReminderAt', :class => 'long' %>
  </div>
  <div>
    <button class="submit" type="submit"><%= :add_reminder.l %></button>
  </div>
</form>
</div>

<div id="reminderList">
<%= render :partial => 'group', :collection => @grouped_reminders %>
</div>
