- @page_title = t('reminders')
- @no_page_tile = true
- @tabbed_navigation_items = common_tabs(:reminders)
- @user_navigation_items = user_tabs(nil)

#newReminderForm
  - form_tag reminders_path(), :method => :post, :id => "add_ReminderForm" do
    %div
      %label{:id => 'newReminderAtLabel', :for => 'newReminderAt'}= t('add_reminder')
      = text_field 'reminder', 'friendly_at_time', :id => 'newReminderAt', :class => 'long'
    %div
      %button{:class => 'submit', :type => 'submit'}= t('add_reminder')

#reminderList
  = render :partial => 'group', :collection => @grouped_reminders