@import 'reset.css';

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

h1 { font-size: 28px; font-weight: bolder; padding-bottom: 6px; }

h2 { font-size: 18px; font-weight: bolder; padding-bottom: 6px; }

h3 { font-size: 16px; font-weight: bolder; padding-bottom: 6px; }

body { margin: 0px; padding: 0px; background-color: #eee; color: #000; }

label { display: block; }

input.checkbox {
  padding: 0px;
  margin: 2px;
}

label.checkbox {
  clear: none;
  display: inline;
}

p.desc {
  color: #555;
}

ul, ol { padding-left: 28px; }

pre { overflow: auto; }

body, p, ol, ul, td {
  font-family: lucida grande, verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

form div {
  margin-bottom: 3px;
}

.totalPageWidth { width: 600px; }

#header {
    margin: 0pt auto;
    /* width: 600px; */
    padding-top: 12px;
    padding: 8px 6px 0px 6px; 
    text-align: left;
    
    background: #007700;
}

/* outer wrapper for content. contains side background */
#outerWrapper {
}

#innerWrapper {
    /*margin: 0pt 0pt 0pt 48px;*/
    margin: 0pt auto;
    text-align: left;
    padding: 0px 16px 18px 16px;
}

#pageContent {
  margin-top: 12px;
}

#innerContent {
    padding: 18px 16px 18px 16px;
}

/* user options */
#userOptions {
  float: right;
  
  background: #006600;
  padding: 3px 6px 3px 6px;
  color: #fff;
}

#userOptions .userName {
  font-weight: bold;
}

#userOptions a {
  color: #fff;
}

#userOptions a.active
{
  text-decoration: none;
  font-weight: bolder;
  color: #000;
  background: #EEEEEE;
}

/* tabs */
#tabsWrapper {
    margin: 0pt auto;
    text-align: left;
    
    padding: 12px 6px 0px 6px;
}

#tabsWrapper ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    
    margin: 0pt;
    padding: 0 12px;
}

#tabsWrapper ul li {
    float: left;
    margin: 0pt 1px;
}

#tabsWrapper ul li a {
    display: block;
    
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    
    padding: 2px 12px;
    color: #fff;
    
    background: #006600;
}

#tabsWrapper ul li.active a {
    background: #eee;
    text-decoration: none;
    
    color: #000;
}

#tabs {
    float:left;
}

#userTabs {
    float: right;
}

/* content floats left in the main box */
#content {
    float: left;
    width: 400px;
    background: #fff;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    
    margin: 0px;
}

/* sidebar floats right in the main box */
#sidebar {
    width: 190px;
    float: right;
    
    margin: 0px;
}

.sidebarBlock {
  padding-bottom: 3px;
  margin: 6px 0px 6px 0px;
}

.newPage {
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

#wrapper {
  text-align: center;
}

.pageHeader {
  padding-left: 14px;
}

.pageHeader h1 {
    margin: 0px;
    padding-bottom: 8px;
}

#pageTools {
    margin-bottom: 12px;
    border-bottom: 2px dashed #eee;
}

#pageTools div {
    padding: 8px 12px 12px 12px;
}

#pageTools #pageResizeHandle {
  margin: 6px;
  padding: 0px;
  width: 12px;
  height: 12px;
  
  background: #000;
  cursor:move;
  float: right;
}

#pageOptions {
    padding: 12px 12px 8px 12px;
    border-top: 2px dashed #eee;
    
    text-align: center;
}

#pageListItems {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    
    font-size: 12px;
    padding: 0px;
}

#pageListItems li {
    padding: 4px 4px 4px 12px;
}

#pageListItems li.hover { background: red; }
#pageListItems li.current { background: #000; }
#pageListItems li.current a { color: #fff; }

ul.albumPictures {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    
    padding: 0px;
}

li.albumPicture, li.albumPictureForm {
    display: inline;
    width: 150px;
    height: 180px;
    
    float:left;
    
    margin: 6px;
    text-align: center;
}

li.albumPictureForm { height: 60px; }

li.albumPicture form, li.albumPictureForm form {
    border: 1px dashed #ccc;
}

li.albumPicture img {
  border: 1px solid #dedede;
  padding: 2px;  
}

.albumPictureContent a:hover {
  background:none;
  background-color: #fff;
  color: #000;
}

.albumPictureCaption {
  font-weight: bolder;
}

.pageSlot {
    position: relative;
    padding: 16px 18px 0px;
}

.pageSlots {
    position: relative;
}

.pageWidget {
}

.pageWidget p {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

/* Page slot handle. This is positioned relative to the containing div,
   so it starts at the top left of the widget. In addition width is set to 0 
   so the right border is also on the left. */
.pageSlotHandle {
    position: relative;
    left: 0pt;
    width: 0pt; /* seems to trigger positioning on left? */
    height: 0pt;
}

/* Page slot handle inner. This is positioned absolutely to the right of 
   the containing div, so we essentially end up with content hanging off the
   left of the widget (or the right of the handle). */
.pageSlotHandle div.inner {
    position: absolute;
    right: 0px;
    margin: 0px;
    background: #ffdd1a;
    width: 58px;
    text-align: right;
    line-height: 24px;
    z-index:0;
}

/* Page slot handle list. Inline and semantic */
.pageSlotHandle ul {
    display: inline;
    padding: 2px;
}

.pageSlotHandle li {
    display: inline;
    padding-right: 1px;
    cursor: pointer;
    font-size: 13px;
}

.pageSlotHandle .slot_handle {
    cursor: move;
    
}

/* Page insert bar. Indicates current insertion point */
#pageInsert {
    position: relative;
}

/* Page insert bar. Inner p is positioned absolutely to the left of the containing div, 
   so it hangs off the edge */
#pageInsert p {
    background: #000;
    color: #e1e1e1;
    
    left: -28px;
    top: 0px;
    position: absolute;
    height: 20px;
    z-index: 100;
    cursor: pointer;
}

/* Page insert items bar. Also contains forms for certain items */
#pageInsertItems {
    position: relative;
}

#pageInsertItemsBar {
    background: #1b1b1b;
    left: -50px;
    padding-left: 50px;
    top: 0px;
    position: relative;
    height: 20px;
    z-index: 100;
    width: 100%; /* width */
    color: #fff;
}

#pageInsertItemsBar a {
    color: #e1e1e1;
}

#pageInsertItemsBar a:hover {
    background: white;
    color: #1b1b1b;
}

#pageTabletContainer {
    margin-left: 16px;
}

#pageInsertItemCancel {
    position: absolute;
    left: 0px;
}

/* Hidden forms container */
#pageWidgetForms {
    display: none;
}

/* Generic forms */

.widgetForm, .fixedWidgetForm {
  padding: 6px;
  border: 1px solid #DDDDDD;
  background-color: #F2F2F2;
}

input.long, textarea.long {
  width: 99%;
}

input.moderate, textarea.moderate {
  width: 70%;
}

.fixedWidgetForm {
  margin-right: 18px;
}

/* Separator */
.pageSeparator {
    border-bottom: 2px solid #000;
}

/* File */
.pageUploadedFile {
    font-size: 12px;
}

.pageUploadedFile:after {
  content: ""; display: block; height: 0; clear: both;
}

.pageUploadedFile img {
  float:left;
  padding-right: 6px;
}

/* Email */

.pageEmail a {
  font-size: 14px;
}

.pageEmail h2 {
  padding-bottom: 0px;
}

.pageEmail a {
  background: url('/images/icons/mail.gif') no-repeat;
  background-position: center left;
  padding-left: 18px;
  font-weight: normal;
}

.pageEmail span.pageEmailFrom {
  font-size: 12px; font-weight: normal;
}

.pageEmail span.pageEmailFrom .address {
  font-weight: bold;
}

/* Note widget */
.pageNoteDate, .pageEmailDate { color: #ccc; font-size: 12px; font-weight: normal; }

/* List widget */

div.pageList .listItems {
    padding: 0px;
    list-style-type: none;
}

div.pageList .listItem {
    padding-left: 16px;
}

div.pageList .completedItems {
    color: #666666;
}

div.pageList .itemDelete {
  cursor: pointer;
}

/* Page tags */

#tagCrumbsWrapper {
  padding: 4px;
}

#tagCrumbsWrapper p {
  font-weight: bolder;
}

#tagCrumbsWrapper ul {
  list-style-type: none;
}

#tagCrumbsWrapper li, #pageTagsWrapper li {
  display: inline;
  padding-right: 3px;
}

#tagCrumbsWrapper .floatleft {
  padding-right: 12px;
}

#tagNewCrumbsWrapper {
  padding: 4px;
  margin: 4px;
  float: right;
  border-left: 1px solid #666;
  
  text-align: right;
}

#tagNewCrumbsWrapper h3 {
  font-size: 12px;
}

#tagNewCrumbsWrapper ul {
  list-style-type: none;
  padding-left: 0;
  
  padding: 4px;
}

#pageTagsWrapper {
  padding: 6px 12px 6px 12px;
}

#pageTagsWrapper span {
  padding-right: 12px;
}

.pageTagRemove, .pageTagAdd {
  cursor: pointer; 
}

/* Sharing */

.pageShareForm { padding: 0px 18px 0px 18px; }
.pageShareForm label { display: inline;}
.pageShareUsers { width: 100%; }
.pageShareUsers td { padding: 0px 6px 0px 6px; }
.pageShareSection { margin-bottom: 8px; margin-top: 8px; }

.floatleft {
  float: left;
}

.clear {
  clear: both;
}

#pageTable {
  margin-top: 8px;
}

#pageTable td {
  font-size: 16px;
}

#pageTable .myPageEntry td {
  padding-bottom: 8px;
}

/* Reminders */
#reminderList {
  padding: 12px;
}

.reminderGroup h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  margin-bottom: 4px;
}

#newReminderForm {
  background: #fff;
  margin: -16px -14px 0px -14px;
  padding: 18px 16px 18px 16px;
  
  border-bottom: 2px dashed #eee;
}

#newReminderAtLabel {
  font-size: 18px;
}

.reminderForm {
  background: #eee;
  padding: 6px 4px 6px 4px;
  
  border: 1px dashed #a9a9a9;
}

.reminderEntry {
    margin-bottom: 6px;
}

.reminderContent {
}

.reminderTime {
    color: #8b8b8b;
}

/* Journal & Status */

#userJournal {
  margin: 4px 0px 4px 0px;
  padding: 4px 0px 4px 0px;
}

#userJournal input {
  font-size: 13px;
}

#userJournal label {
  clear:both;
  display:block;
  
  font-size: 14px;
}

#userJournals {
  margin-top: 12px;
}

#userJournals h2 {
  border-bottom: 1px solid #ccc;
}

#userStatus {
  border: 1px dashed #cacaca;
  cursor: pointer;
}

#userStatusBlock {
  background: #fff;
  margin: -16px -14px 0px -14px;
  padding: 18px 16px 18px 16px;
  
  border-bottom: 2px dashed #eee;
}

#user_status {
  padding: 4px 6px 4px 6px;
  background: #fff;
}

h2.userStatusDisplayName {
  font-size: 13px;
  font-weight: bolder;
}

h3.userStatus {
  font-size: 16px;
  font-weight: bolder;
}

ul.userJournalList, #userJournals ul {
  padding-left: 20px;
}

.journalEntry span {
  font-style: italic;
  font-size: 10px;
  color: #999999;
}

.sidebarBlock {
  border-bottom: 2px solid #cecece;
}

/* activity log */
#activityLogs { }
#activityLogs h2 { padding-bottom: 0px; margin-top: 12px; font-size: 12px; clear:both; border-bottom: 1px solid #ccc; }

.activityUserAvatar { margin: 4px; font-weight: bolder; }
.activityUserEntries li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
.activityEntry { padding-left: 32px; }

/* user list page */
#userList
{
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
}

#userList td {
  padding: 0px 3px 0px 3px;
}

td.userAvatar { width: 50px; padding: 0px; }
td.userDisplayName { font-weight: bolder; }

/* user form */

#userForm label {
  display: block;
  margin-bottom: 4px;
}

#userForm label.yesno {
  display: inline;
}

/* account form */

#settingsForm label {
  margin-bottom: 4px;
}

#settingsForm label.yesno {
  display: inline;
}

label {
  font-weight: bolder;
}

label.yesno {
  display: inline;
}

label.check {
  font-weight: normal;
  display: inline;
}

.formSubmit {
  margin-top: 12px;
}

.hint
{
  background-color: #FFFFCC;
  border: 2px solid #E9BE31;
  
  margin: 0 0 5px 0;
  padding: 5px;
}

.hint .header {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 3px;
  border-bottom: 1px solid #E9BE31;
}

#statusBar {
  display: none;
}

.flash.error, .flash.success {
  margin: 10px 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  
  clear: both;
  cursor: pointer;
  text-align: left;
}

.flash.error {
  background: #FFB0B0;
  border-color: red;
}

.flash.success {
  background: #90DC90;
  border-color: green;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

