body { margin: 0px; padding: 0px; background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

header {
    margin: 0pt auto;
    width: 600px;
    text-align: left;
}

/* outer wrapper for content. contains side background */
#outerWrapper {
    background: #ccc;
}

#innerWrapper {
    margin: 0pt auto;
    width: 600px;
    text-align: left;
}

#pageContent {
    border: 2px solid #000;
}

/* tabs */
#tabsWrapper {
    margin: 0pt auto;
    width: 600px;
    text-align: left;
}

#tabsWrapper ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    
    margin: 0pt;
    padding: 0 12px;
}

#tabsWrapper ul li {
    float: left;
    margin: 0pt 1px;
}

#tabsWrapper ul li a {
    display: block;
    
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    
    padding: 2px 12px;
    color: #fff;
    
    background: #a9a9a9;
}

#tabsWrapper ul li.active a {
    background: #000;
}

#tabs {
    float:left;
}

#userTabs {
    float: right;
}

/* content floats left in the main box */
#content {
    float: left;
    width: 400px;
    background: #fff;
    border-right: 2px solid #bbb;
    
    margin: 0px;
}

/* sidebar floats right in the main box */
#sidebar {
    width: 190px;
    float: right;
    
    margin: 0px;
}

#wrapper {
  text-align: center;
}

.pageHeader {
}

.pageHeader h1 {
    margin: 0px;
}

#pageTools {
    margin-bottom: 12px;
}

#pageTools div {
    padding: 8px 12px 12px 12px;
}

#pageListItems {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    
    font-size: 12px;
    padding: 0px;
}

#pageListItems li {
    padding: 4px 4px 4px 12px;
}

#pageListItems li.hover { background: red; }
#pageListItems li.current { background: #000; }
#pageListItems li.current a { color: #fff; }

.pageSlot {
    background: #fff;
    position: relative;
    padding: 16px 18px 0pt;
}

.pageSlots {
    position: relative;
}

.pageWidget {
    background: #fff;
}

/* Page slot handle. This is positioned relative to the containing div,
   so it starts at the top left of the widget. In addition width is set to 0 
   so the right border is also on the left. */
.pageSlotHandle {
    position: relative;
    left: 0pt;
    width: 0pt; /* seems to trigger positioning on left? */
    height: 0pt;
}

/* Page slot handle inner. This is positioned absolutely to the right of 
   the containing div, so we essentially end up with content hanging off the
   left of the widget (or the right of the handle). */
.pageSlotHandle div.inner {
    position: absolute;
    right: 0px;
    margin: 0px;
    background: yellow;
    width: 58px;
}

/* Page slot handle list. Inline and semantic */
.pageSlotHandle ul {
    display: inline;
    padding: 0pt;
    
}

.pageSlotHandle li {
    display: inline;
    padding-left: 0pt;
}

/* Page insert bar. Indicates current insertion point */
#pageInsert {
    position: relative;
}

/* Page insert bar. Inner p is positioned absolutely to the left of the containing div, 
   so it hangs off the edge */
#pageInsert p {
    background: yellow;
    left: -28px;
    top: -15px;
    position: absolute;
    height: 20px;
    z-index: 100;
}

/* Page insert items bar. Also contains forms for certain items */
#pageInsertItems {
    position: relative;
    margin-left: -40px;
}

#pageInsertItemsBar {
    background: red;
    left: -50px;
    padding-left: 50px;
    top: -15px;
    position: absolute;
    height: 20px;
    z-index: 100;
}

#pageTabletContainer {
    margin-left: 40px;
}

#pageInsertItemCancel {
    position: absolute;
    left: 0px;
}

/* Hidden forms container */
#pageWidgetForms {
    display: none;
}

/* Separator */
.pageSeparator {
    border-bottom: 2px solid #000;
}

/* List widget */

div.pageList .listItems {
    padding: 0px;
    list-style-type: none;;
}

div.pageList .listItem {
    padding-left: 16px;
}

div.pageList .completedItems {
    color: #666666;
}

/* Reminders */
#reminderList {
    padding: 12px;
}

.reminderEntry {
    margin-bottom: 6px;
}

.reminderContent {
}

.reminderTime {
    color: #8b8b8b;
}

/* activity log */
#activityLogs { }
#activityLogs h2 { clear:both; }
.activityUser { float: left; height: 32px; margin: 4px; font-weight: bolder; }
.activityEntry { margin-left: 32px; }

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

