- @page_title = (@user == @logged_user) ? :update_profile.l : :update_user.l_with_args(:name => h(@user.display_name))
- @tabbed_navigation_items = common_tabs(nil)
- @user_navigation_items = user_tabs((@user == @logged_user) ? :my_profile : :users)

#userForm
  - form_tag user_path(@user), :method => :put do
    = render :partial => 'form'
    %button.submit{:type => 'submit'}= :save_changes.l
    %a.cancel{:href => users_path}= :cancel.l