<%
    @page_title = (@user == @logged_user) ? :update_profile.l : :update_user.l_with_args(:name => h(@user.display_name))
    
    @tabbed_navigation_items = common_tabs(nil)
    @user_navigation_items = user_tabs(:users)
%>

<div id="userForm">
<%= form_tag( user_path(@user), :method => :put) %>
  <%= render :partial => 'form' %>
  <button class="submit" type="submit"><%= :save_changes.l %></button>
</form>
</div>
