- @page_title = :forgot_password.l

- form_tag :controller => 'users', :action => 'forgot_password' do
  %div
    %label{:for => 'forgotPasswordEmail'}= :email_address.l
    = text_field_tag 'your_email', '', :id => 'forgotPasswordEmail', :class => 'medium'
  #loginCustom
    = link_to :login.l, '/login'

  #dialogSubmit
    %button.submit{:type => 'submit'}= :send_password.l