- @page_title = t('forgot_password')

- form_tag :controller => 'users', :action => 'forgot_password' do
  %div
    %label{:for => 'forgotPasswordEmail'}= t('email_address')
    = text_field_tag 'your_email', '', :id => 'forgotPasswordEmail', :class => 'medium'
  #loginCustom
    = link_to t('login'), '/login'

  #dialogSubmit
    %button.submit{:type => 'submit'}= t('send_password')