<%
    @page_title = :create_user.l
    
    @tabbed_navigation_items = common_tabs(nil)
    @user_navigation_items = user_tabs(:my_profile)
%>

<%= form_tag( users_path(), :method => :post) %>
  <%= render :partial => 'form' %>
  <button class="submit" type="submit"><%= :save.l %></button>
</form>

<%= link_to 'Back', users_path %>
