- hhandle = "page_slot_handle_#{object.page_slot.id}"
.pageUploadedFile{:hover_handle => hhandle}
  %img{:src => file_icon_for(object.object_name), :hover_handle => hhandle}
  %a{:href => object.data.url, :hover_handle => hhandle}= h object.object_name