= form_with(model: @page, url:page_path(@page), method: :put) do |form|
  != form.text_field 'page', 'title', class: 'autofocus moderate'
  = submit_button_with_loader t('rename_page')
  %a{href: '#', class: 'cancel'}= t('cancel')