- form_tag page_path(@page), :method => :put do
  != text_field 'page', 'title', :class => 'autofocus moderate'
  %button{:class => 'submit', :type => 'submit'}= t('rename_page')
  %a{:href => '#', :class => 'cancel'}= t('cancel')