- form_tag page_path(@page), :method => :put do
  != text_field 'page', 'title', :class => 'autofocus long'
  %button{:class => 'submit', :type => 'submit'}= :rename_page.l
  %a{:href => '#', :class => 'cancel'}= :cancel.l