<%= form_tag( page_path(@page), :method => :put) %>
  <%= text_field 'page', 'title', :class => 'long' %>
  <button class="submit" type="submit"><%= :rename_page.l %></button>
  <a href="#" class="cancel_PageForm"><%= :cancel.l %></a>
</form>
</div>