- if shared
  %tr.sharedPageEntry
    %td{:colspan => 2}
      %a{:href => page_path(index_page)}= h index_page.title
- else
  %tr.myPageEntry
    %td{:colspan => 2}
      %a{:href => page_path(index_page)}= h index_page.title