<ul id="pageListItems">
<% @logged_user.pages.each do |page| -%>
    <li <% if page == @page %> class="current" <% end %> page_id="<%= page.id %>"><%= link_to h(page.title), page_path(page) %></li>
<% end %>
</ul>