<% if @page.can_be_edited_by(@logged_user) %>
<div class="pageWidget" url="<%= "/#{slot.rel_object_type.downcase.pluralize}/#{slot.rel_object_id}" %>">
  <div class="pageSlotHandle" id="page_slot_handle_<%= slot.id %>" resType=".pageWidget" style="display:none">
    <div class="inner">
      <ul>
        <li class="slot_delete">-</li>
        <li class="slot_edit"><%= :edit.l %></li>
        <li class="slot_handle">+</li>
      </ul>
    </div>
  </div>
<% else %>
<div class="pageWidget">
<% end %>  
  <%= render :partial => object.view_partial, :locals => {:object => object} %>
</div>