<%
    @page_title = :pages.l
    
    @tabbed_navigation_items = common_tabs(:pages)
    @user_navigation_items = user_tabs(nil)
%>

<table>
  <tr>
  </tr>

<% for page in @pages %>
  <tr>
    <td><%= link_to h(page.title), page %></td>
    <td><%= link_to 'Destroy', page, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New page', new_page_path %>
