Page.sel('#page_header_form').hide();

Page.sel('#page_header_form').html('');
Page.sel('#page_header').html('<%= escape_javascript("<h1><span hover_handle=\"page_header_handle\">#{h(@page.title)}</span></h1>").html_safe %>');
Page.sel('#pageListItems').replaceWith('<%= escape_javascript render(:partial => 'listed_pages') %>');

Page.sel('#page_header').show();