$('#<%= "album_header_#{@album.id}_form" %>').hide();
$('#<%= "album_header_#{@album.id}_form" %>').html('<%= escape_javascript "<h2 hover_handle=\"page_slot_handle_#{@album.page_slot.id}\">#{h(@album.title)}</h2>" %>');
$('#<%= "album_header_#{@album.id}" %>').show();