- form_tag tags_page_path(@page), :method => :post do
  != text_field 'page', 'tags', :class => 'autofocus moderate'
  %button{:class => 'submit', :type => 'submit'}= :update.l
  %a{:href => '#', :class => 'cancel'}= :cancel.l