<%
    @page_title = :overview.l
    
    @tabbed_navigation_items = common_tabs(:overview)
    @user_navigation_items = user_tabs(nil)
%>

<div id="activityLogs">
<% prev_user = nil; prev_id = nil %>
<% @recent_activities.each do |items| -%>
<h2><%= items[0] %></h2>
<% prev_start = true; logs = items[1] %>
<% logs.reverse_each do |log| %>
<% if prev_start or (prev_id != log.created_by_id and !log.created_by_id.nil?) %>

<% if prev_id != log.created_by_id
    prev_id = log.created_by_id;
    prev_user = log.created_by
   end %>
<% prev_start = false; %>
<div style="clear:both;"></div>
<div class="activityUser">
<%= prev_user.display_name %>:
</div>
<% end %>
<div class="activityEntry">
<%# "#{log.action} (#{log.rel_object_id} #{log.rel_object_type}) | p:#{log.page_id} by #{log.created_by_id}" %>
<% unless log.page_id.nil? %>
<%= "activity_modify_Page".to_sym.l_with_args(:object => link_to(h(log.page.title), url_for(log.page))) %> <%# "(#{log.created_on.to_s})" %>
<% else %>
<%= "activity_#{log.action}_#{log.rel_object_type}".to_sym.l_with_args(:object => link_to(h(log.rel_object.object_name), url_for(log.rel_object)), :name => h(log.object_name)) %> <%# "(#{log.created_on.to_s})" %>
<% end %>
</div>

<% end %>
<% end %>
</div>
