- @page_title = t('overview')
- @tabbed_navigation_items = common_tabs(:overview)
- @user_navigation_items = user_tabs(nil)

#activityLogs
  - @recent_activities.each do |items|
    %h2= items[0]
    = render :partial => 'user_activity', :collection => items[1]
