= form_tag user_journal_path(@page), :method => :put do
  != text_area 'journal', 'content', :class => 'long'
  %button{:class => 'submit', :type => 'submit'}= t('update')
  %a{:href => '#', :class => 'cancel'}= t('cancel')