= form_with(model: @journal, url: user_journal_path(@page), method: :put) do |form|
  != form.text_area 'journal', 'content', class: 'long'
  %button{class: 'submit', type: 'submit'}= t('update')
  %a{href: '#', class: 'cancel'}= t('cancel')