- if @album_picture.nil? or @album_picture.new_record?
  - url = page_album_album_pictures_path(@page, @album || object)
  - mth = :post
  - action_name = :add_picture.l
- else
  - url = page_album_album_picture_path(@page, @album, @album_picture)
  - mth = :put
  - action_name = :update.l

- form_tag url, :method => mth, :multipart => true do
  %div
    %input{:type => 'hidden', :name=> 'format', :value => 'js'}/
    != file_field 'picture', 'picture', :class => 'pictureFormTitle', :class => 'autofocus long', :size => 8
    = text_field 'picture', 'caption', :class => 'autofocus long', :size => 18
  %div
    %button.submit{:type => 'submit'}= action_name
    %a.cancel{:href => '#'}= :cancel.l