<%= form_tag( page_list_list_item_path(@page, @list, @list_item), :method => :put) %>
  <%= text_field 'list_item', 'content', :class => 'long' %>
  <button class="submit" type="submit"><%= :rename_list_item.l %></button>
  <a href="#" class="cancel_ListItemForm"><%= :cancel.l %></a>
</form>
</div>