div.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #cc0000;
    color: white;
  }
  p {
    color: #333333;
    margin-bottom: 0;
    padding: 5px;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.form-group.checkbox {
  display: flex; /* Use flexbox layout */
  flex-direction: row-reverse;
  justify-content: left;
  align-items: center; /* Center vertically */
  margin-bottom: 15px;
}

.form-group.normal {
  display: flex; /* Use flexbox layout */
  flex-direction: column;
  justify-content: left;
  align-items: left; /* Center vertically */
  margin-bottom: 15px;
}

.form-group label {
  width: 150px;
  font-weight: bold;
}

.form-group input[type="checkbox"] {
  margin-left: 10px;
  vertical-align: middle;
}

fieldset legend {
  margin-bottom: 5px;
}

form .field_with_errors label {
  color: red;
}

form .field_with_errors input {
  border-color: red;
}

form .field_error_description {
  color: red
}
