- @page_title = :settings.l
- @tabbed_navigation_items = common_tabs(nil)
- @user_navigation_items = user_tabs(:settings)

#settingsForm
  - form_tag account_path(), :method => :put do
    = render :partial => 'form'
    %div.formSubmit
      %button.submit{:type => 'submit'}= :save.l
      %a.cancel{:href => '/'}= :cancel.l

